{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <form action="{{ path('create_deck') }}" method="post">
                <label for="name">Deck title:</label><br>
                <input type="text" id="name" name="name" value="Mono aggro red"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}